body {
    background-color: #282C34;
    color: white;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
    padding: 0px 60px;
    box-sizing: border-box;
}

@media (max-width: 450px) {
    body {
        padding: 0px 30px;
    }
}

a {
    /* color: white; */
    transition: color 200ms ease-in-out;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 0;
}

@media (max-width: 850px) {
    .container--nav {
        text-align: center;
    }
}

.container--hero {
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.logo__link {
    color: white;
}

.logo__highlight {
    color: salmon;
}

.nav-menu {
    float: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 850px) {
    .nav-menu {
        margin: 0 auto;
        padding-top: 24px;
        float: none;
        justify-content: center;
    }
}

.nav-link {
    color: inherit;
    margin: 0 10px;
    text-decoration: none;
    opacity: 0.7;
    padding: 10px 0;
}

.nav-menu a:hover {
    color: salmon;
}

h1 {
    font-weight: 900;
    font-size: 6em;
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 450px) {
    h1 {
        font-weight: 900;
        font-size: 3em;
    }
}


.section--hero {
    margin: 60px 0;
}

@media (max-width: 450px) {
    .section--hero {
        margin: 20px 0;
    }
}

.section--hero p {
    font-size: 1.2em;
    opacity: 0.7;
}

.btn {
    background-color: salmon;
    color: white;
    padding: 16px 24px;
    border-radius: 4px;
    text-decoration: none;
    margin: 16px 16px 0 0;
    transition: opacity 200ms ease-in-out;
    display: inline-block;
}

.btn:hover {
    opacity: 0.8;
}

.btn--secondary {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.699);
    padding: 16px 24px;
    border-radius: 4px;
    text-decoration: none;
    margin: 16px 16px 0 0;
    transition: opacity 200ms ease-in-out;
}

.btn--dark {
    background-color: #282C34;
    color: white;
}

.hero-buttons {
    margin-top: 80px;
}

.mywork {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mywork__card {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 24%;
    margin-bottom: 24px;
}

@media (max-width: 850px) {
    .mywork__card {
        width: 48%;
    }
}

@media (max-width: 450px) {
    .mywork__card {
        width: 100%;
    }
}


h3 {
    font-family: Monaco, monospace;
    /* margin: 0.7em 0; */
}

.mywork__card h3 {
    opacity: 0.7;
}

.mywork__p {
    color: white;
    opacity: 0.4;
}

.mywork__card img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.inline-code {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-size: 0.8em;
    font-family: Menlo, 'Courier New', monospace;
    color: navajowhite;
    display: inline-block;
    margin-bottom: 4px;
}

.inline-code--dark {
    background-color: #282c34a8;
}

.technology-row {
    margin-top: 32px;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
}

footer p {
    /* color: rgba(255, 255, 255, 0.4); */
    opacity: 0.4;
}

.contact-wrap {
    min-height: 100vh;
    position: relative;
}

.contact-footer {
    position: absolute;
    bottom: 0%; left: 0%; right: 0%;
}

.light-mode-text {
    color: #282C34;
}

.light-mode-bg {
    background-color: white;
}

.mode-switch {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 850px) {
    .mode-switch {
        order: -1;
    }
}

.mode-switch:hover {
    opacity: 0.8;
}

.mode-icon {
    position: absolute;
    left: 0%;
    top: 0%;
}

#dark-mode {
    visibility: hidden;
}